/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
}

/* ===== CONTAINER GLOBAL ===== */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ===== HEADER ===== */
header {
  background: #111;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #00ffff;
  font-size: 28px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav a:hover {
  color: #00ffff;
}

/* ===== HERO ===== */
.hero {
  position: relative;
  background-color: #0f0f1a;
  padding: 90px 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  min-height: 450px;
  overflow: visible;
}

.hero h1 {
  font-size: 50px;
  color: #00ffff;
}

.hero h2 {
  font-size: 48px;
  color: #00ffff;
  text-shadow: 2px 2px #000;
}

.hero p {
  font-size: 20px;
  color: #e0e0e0;
  text-shadow: 1px 1px #000;
  max-width: 85%;
  line-height: 22px;
}

.hero-content p {
  line-height: 75%;
}

.hero .neon-img {
  position: absolute;
  top: -30px;
  bottom: -30px;
  right: 0;
  height: 500px;
  padding-right: 20px;
  z-index: 0;
}

/* ===== SEÇÕES GERAIS ===== */
section {
  padding: 60px 0;
}

.sobre,
.habilidades {
  background-color: #1a1a1a;
}

.sobre {
  padding-left: 1%;
  margin-top: -3%;
}

h1 {
  color: #00ccff;
  font-size: 40px;
}

h3 {
  font-size: 32px;
  color: #00ffff;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  color: #00ccff;
  margin-top: 30px;
  margin-bottom: 10px;
}

p.desc {
  padding-top: 20px;
  white-space: normal;
}

ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* ===== HABILIDADES ===== */
.secao-habilidades {
  padding: 1rem;
}

.lista-icones {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.icone-item img {
  width: 64px;
  cursor: pointer;
}

.slide {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.conteudo-habilidade {
  width: 55%;
}

.texto-habilidade{
  flex-wrap: wrap;
  display: flex;
}
.video-habilidade{
  flex-wrap: wrap;
  display: flex;
}

.titulo-habilidade {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.descricao-habilidade {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2%;
  word-break: 50%;
  
}

video {
  width: 40%;
  max-width: 800px;
  margin-left: 60%;
  margin-top: -2%;
}

/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: #aaa;
  font-size: 14px;
}